<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Shop{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>

    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/css/tether.min.css"/>#}
    {#<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css"/>#}
    {#<link rel="stylesheet" href="https://bootswatch.com/yeti/bootstrap.min.css"/>#}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="{{ asset('css/libs/tether.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/libs/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/libs/bootstrap-yeti.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/libs/font-awesome.min.css') }}">
    <link rel="stylesheet" href="{{ asset('css/main.css') }}">

    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>#}
    {#<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>#}
    <script src="{{ asset('js/libs/jquery.min.js') }}"></script>
    <script src="{{ asset('js/libs/tether.min.js') }}"></script>
    <script src="{{ asset('js/libs/bootstrap.min.js') }}"></script>

    <script src="{{ asset('js/main.js') }}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="{{ path('homepage') }}" class="navbar-brand">Shop</a>
            </div>
            <ul class="nav navbar-nav">
                <li><a href="{{ path('view_all_products') }}">Products</a></li>
                {% if app.user %}
                    <li><a href="{{ path('add_product') }}">Add Product</a></li>
                {% endif %}
                {% if app.user and (app.user.admin or app.user.editor) %}
                    <li><a href="{{ path('all_promotions') }}">Promotions</a></li>
                {% endif %}
                {% if app.user and app.user.admin %}
                    <li><a href="{{ path('user_roles') }}">Users</a></li>
                {% endif %}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.user %}
                    <li><a href="{{ path('user_profile', { id: app.user.id }) }}">{{ app.user.fullName }}</a></li>
                    {% if app.user.cart.products|length > 0 %}
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-expanded="false">
                                Cart ({{ app.user.cart.products|length }}):
                                {{ price_calculator.getCartTotalPrice(app.user.cart)|localizedcurrency('EUR') }}
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                {% for product in app.user.cart.products %}
                                    <li>
                                        <a href="{{ path('view_product', { id: product.id }) }}">
                                            {{ product.name }}
                                            ({% if product.price != price_calculator.calculatePrice(product) %}
                                                <del class="text-warning">{{ product.price|localizedcurrency('EUR') }}</del>
                                                <span class="text-success">{{ price_calculator.calculatePrice(product)|localizedcurrency('EUR') }}</span>
                                            {% else %}
                                                {{ product.price|localizedcurrency('EUR') }}
                                            {% endif %})
                                        </a>
                                    </li>
                                {% endfor %}
                                <li class="divider"></li>
                                <li><a href="{{ path('view_cart') }}">View Cart</a></li>
                            </ul>
                        </li>
                    {% endif %}
                    <li><a href="">Cash: {{ app.user.cash|localizedcurrency('EUR') }}</a></li>
                    <li><a href="{{ path('security_logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('security_login') }}">Login</a></li>
                    <li><a href="{{ path('user_register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </nav>
</header>
<div class="container">
    {% for info in app.session.flashBag.get('info') %}
        <div class="alert alert-info">
            <button type="button" class="close">&times;</button>
            <h4>Info</h4>
            <p>{{ info }}<p>
        </div>
    {% endfor %}
    {% for success in app.session.flashBag.get('success') %}
        <div class="alert alert-success">
            <button type="button" class="close">&times;</button>
            <h4>Success</h4>
            <p>{{ success }}<p>
        </div>
    {% endfor %}
    {% for warning in app.session.flashBag.get('warning') %}
        <div class="alert alert-warning">
            <button type="button" class="close">&times;</button>
            <h4>Warning!</h4>
            <p>{{ warning }}<p>
        </div>
    {% endfor %}
    {% for error in app.session.flashBag.get('error') %}
        <div class="alert alert-danger">
            <button type="button" class="close">&times;</button>
            <h4>Error!</h4>
            <p>{{ error }}<p>
        </div>
    {% endfor %}
    {% block main %}{% endblock %}
</div>
{% block javascripts %}{% endblock %}
</body>
</html>
