{% extends 'base.html.twig' %}

{% block title %}
    Edit Product
{% endblock %}

{% block main %}
    <div class="col-lg-6 col-lg-offset-3">
        <form class="form-horizontal" method="post" action="{{ path('edit_product', { id: product.id }) }}">
            <fieldset>
                <legend>Edit Product</legend>
                <div class="form-group">
                    <label for="name" class="col-lg-3 control-label">Name</label>
                    <div class="col-lg-9">
                        <input type="text" name="product[name]" class="form-control" id="name"
                               value="{{ product.name }}">
                    </div>
                </div>
                <div class="form-group">
                    <label for="description" class="col-lg-3 control-label">Description</label>
                    <div class="col-lg-9">
                    <textarea class="form-control" name="product[description]" id="description">{{ product.description }}</textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="price" class="col-lg-3 control-label">Price</label>
                    <div class="col-lg-9">
                        <input type="number" name="product[price]" value="{{ product.price }}" class="form-control"
                               id="price">
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-lg-3 control-label">Quantity</label>
                    <div class="col-lg-9">
                        <input type="number" name="product[quantity]" value="{{ product.quantity }}"
                               class="form-control" id="quantity">
                    </div>
                </div>
                <div class="form-group">
                    <label for="categories" class="col-lg-3 control-label">Category</label>
                    <div class="col-lg-9">
                        <select name="category" id="categories" class="form-control">
                            {% for category in categories %}
                                {% if product.category.id == category.id %}
                                    <option selected="selected" value="{{ category.id }}">{{ category.name }}</option>
                                {% else %}
                                    <option value="{{ category.id }}">{{ category.name }}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-lg-offset-3 col-lg-9">
                        {{ form_row(productForm._token) }}
                        <input class="btn btn-primary" type="submit" value="Edit Product">
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
{% endblock %}

