{% extends 'base.html.twig' %}

{% block title %}
    Product - {{ product.name }}
{% endblock %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            <h2>
                {{ product.name }}
                <span class="pull-right">{{ product.price|localizedcurrency('EUR') }}</span>
            </h2>
            <hr>
            <p>Description: {{ product.description }}</p>
            <p>Seller:
                <a href="{{ path('user_profile', { id: product.user.id }) }}">
                    {{ product.user.fullName }}
                </a>
            </p>
            <p>Date added:{{ product.dateCreated.format('Y-m-d H:m:s') }}</p>
            <p>Last updated:{{ product.dateUpdated.format('Y-m-d H:m:s') }}</p>
            <p>Left In Stock: {{ product.quantity }}</p>
            <p>Category:
                <a href="{{ path('view_products_by_category', { id: product.category.id }) }}">
                    {{ product.category.name }}
                </a>
            </p>
        </div>
    </div>
    <h2>Related Products</h2>
    <hr>
    <div class="row">
        {% for relatedProduct in product.relatedProducts %}
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <a href="{{ path('view_product', { id: relatedProduct.id }) }}">{{ relatedProduct.name }}</a>
                        <span class="pull-right">{{ relatedProduct.price|localizedcurrency('EUR') }}</span>
                    </div>
                    <div class="panel-body">
                        {{ relatedProduct.description }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

