{% extends 'base.html.twig' %}

{% block main %}
    <ul class="breadcrumb">
        <li>
            <a href="{{ path('view_all_products') }}">All</a>
        </li>
        {% for category in categories %}
            {% if currentCategoryId == category.id %}
                <li class="active">
                    {{ category.name }} ({{ category.products|length }})
                </li>
            {% else %}
                <li>
                    <a href="{{ path('view_products_by_category', { id: category.id }) }}">
                        {{ category.name }} ({{ category.products|length }})
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>

    {% for product in products %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ product.name }}
            </div>
            <div class="panel-body">
                <p>{{ product.description }}</p>
            </div>
            <div class="panel-footer">
                Price: {{ product.price|localizedcurrency('EUR') }}
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}
    Products
{% endblock %}

