{% extends 'base.html.twig' %}

{% block main %}
    <ul class="breadcrumb">
        <li class="active">
            All
        </li>
        {% for category in categories %}
            <li>
                <a href="{{ path('view_products_by_category', { id: category.id }) }}">
                    {{ category.name }} ({{ category.products|length }})
                </a>
            </li>
        {% endfor %}
    </ul>

    {% for product in products %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {{ product.name }}
            </div>
            <div class="panel-body">
                <p>{{ product.description }}</p>
            </div>
            <div class="panel-footer">
                Price: {{ product.price|localizedcurrency('EUR') }}
                <span class="pull-right">
                    <a href="{{ path('user_profile', { id: product.user.id }) }}">
                        {{ product.user.fullName }}
                    </a>
                </span>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block title %}
    Products
{% endblock %}

