{% extends 'base.html.twig' %}

{% block main %}
    <div class="panel panel-default">
        <div class="panel-body">
            {% if isLoggedInUser %}
                <h1>{{ user.fullName }}</h1>
                <p>Username: {{ user.username }}</p>
                <p>Email: {{ user.email }}</p>
                <p>Cash: {{ user.cash }}</p>
                <p>Products: {{ user.products|length }}</p>
                <p><a href="{{ path('edit_profile') }}"><span class="fa fa-edit"></span></a></p>
            {% else %}
                <h1>{{ user.fullName }}</h1>
                <p>Email: {{ user.email }}</p>
                <p>Products: {{ user.products|length }}</p>
            {% endif %}
        </div>
    </div>
    {% if isLoggedInUser %}
        <h2>My Products</h2>
    {% else %}
        <h2>User Products</h2>
    {% endif %}
    <hr>
    {% for product in userProducts %}
        <div class="panel panel-default">
            <div class="panel-heading">
                <a href="{{ path('view_products_by_category', { id: product.category.id }) }}">
                    {{ product.category.name }}
                </a>
                -
                <a href="{{ path('view_product', { id: product.id }) }}">
                    {{ product.name }}
                </a>
                <span class="pull-right">
                    {% set initPrice = product.price %}
                    {% set discPrice = calculator.calculatePrice(product) %}
                    {% if initPrice != discPrice %}
                        <del class="text-warning">{{ initPrice|localizedcurrency('EUR') }}</del> /
                        <span class="text-success">{{ discPrice|localizedcurrency('EUR') }}</span>
                        <span class="label label-success">
                            -{{ 100 - (discPrice / initPrice) * 100 }}%
                        </span>
                    {% else %}
                        {{ calculator.calculatePrice(product)|localizedcurrency('EUR') }}
                    {% endif %}
                </span>
            </div>
            <div class="panel-body">
                <p>{{ product.description }}</p>
                <p>
                    {% if product.quantity > 0 %}
                        <span>In Stock: {{ product.quantity }}</span>
                    {% else %}
                        <span class="text-danger">Not In Stock</span>
                    {% endif %}
                </p>
                <p>
                    Seller:
                    <a href="{{ path('user_profile', { id: product.user.id }) }}">
                        {{ product.user.fullName }}
                    </a>
                    {% if app.user and product.user != app.user and product.quantity %}
                        {% if app.user.cart.isProductInCart(product) %}
                            <a href="{{ path('remove_product_from_cart', { productId: product.id }) }}"
                               class="pull-right">
                                Remove from Cart
                            </a>
                        {% else %}
                            <a href="{{ path('add_product_to_cart', { productId: product.id }) }}" class="pull-right">
                                Add To Cart
                            </a>
                        {% endif %}
                    {% endif %}
                </p>
            </div>
            {% if app.user and (product.user.id == app.user.id or app.user.isAdmin or app.user.isEditor) %}
                <div class="panel-footer">
                    <a href="{{ path('edit_product', { id: product.id }) }}">
                        <span class="fa fa-edit" data-toggle="tooltip" title="Edit Product"></span>
                    </a>
                </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}